# top-most EditorConfig file
"root" : true,

"editor.tabSize": 2,
"semi": false,
"singleQuote:": true,
"emmet.includeLanguages": {
    "html": "html",
    "javascript": "javascriptreact"
},
"workbench.iconTheme": "material-icon-theme",
"files.autoSave": "afterDelay",
"files.autoSaveDelay": 5000,
"terminal.external.osxExec": "iTerm.app",
"terminal.integrated.shell.osx": "zsh",
"editor.wordWrap": "on",
"editor.formatOnSave": true,
"editor.formatOnPaste": true,
"editor.minimap.enabled": false

# Don't mess with json files
[*.json]
"exclude": true,

[{package.json,.travis.yml}]
"indent_style" : space,
"indent_size" : 2